.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.controls-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-self: stretch;
  overflow: scroll;
  padding-right: 10px;
  max-width: 300px;
}

/*.chartjs-size-monitor {
  position: inherit;
}*/

.chart-container {
  height: 100vh;
  position: absolute;
  width: 100%;
  margin-left: 0px;
}
.interactive-chart-container {
  width: calc(100% - 320px);
  margin-left: 320px;
}

.controls-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.parameter-span {
  display: flex;
}

.parameter-label {
  padding: 0px 6px;
}
.checkbox-label {
  align-self: center;
  padding-left: 10px;
}

.leq-text {
  align-self: center;
}

.function-parameter-div {
  display: flex;
  flex-direction: row;
}

.align-self-center {
  align-self: center;
}

.func-param-slider-limit {
  width: 75px;
  flex-grow: 3
}

.func-param-slider {
  width: 0px;
  flex-grow: 1;
}
.python .MuiInputBase-input {
  font-family: monospace;
  font-size: 12px;
  line-height: 1;
}

.error-area.MuiTypography-root {
  font-family: monospace;
  font-size: 12px;
  padding-left: 25px;
  text-indent: -22px;
  line-height: 1;
  word-break: break-word;
  /*word-wrap: break-word;*/
}
.error-container {
  background-color: #ffaaaa;
  margin: 6px 0px 6px 4px ;
  border-radius: 4px;
}

.python-container {
  display: flex;
  flex-direction: column;
}
